<section class="pt-5 pt-md-11">
  <!-- Form ends -->
  <form
    #postJobForm="ngForm"
    (ngSubmit)="postJob(postJobForm)"
    class="needs-validation was-validated"
    [ngClass]="{
      'needs-validation': !postJobForm.valid,
      'was-validated': postJobForm.submitted
    }"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Post a job</h1>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-md">
          <div class="card mb-5">
            <div class="card-body">
              <h3 class="card-title text-body">Overview</h3>
              <div class="form-group large">
                <label for="jobTitle">Job title</label>
                <input
                  type="text"
                  class="form-control"
                  id="jobTitle"
                  name="jobTitle"
                  #jobTitleField="ngModel"
                  placeholder="Job title"
                  [(ngModel)]="model.jobTitle"
                  minlength="3"
                  required
                />
                <div
                  *ngIf="jobTitleField?.errors?.required"
                  class="invalid-feedback"
                >
                  Job title is required
                </div>
                <div
                  *ngIf="jobTitleField?.errors?.minlength"
                  class="invalid-feedback"
                >
                  Job title must be at least 3 characters long.
                </div>
              </div>
              <div class="form-group large">
                <label for="category">Category</label>
                <select
                  class="custom-select"
                  id="category"
                  name="category"
                  [(ngModel)]="model.category"
                  required
                >
                  <option selected value="FrontEnd">Front-end</option>
                  <option value="FullStack">Full stack</option>
                </select>
              </div>
              <div class="form-group large">
                <label for="experienceRequired">Experience Required</label>
                <select
                  class="custom-select"
                  id="experienceRequired"
                  name="experienceRequired"
                  [(ngModel)]="model.experienceRequired"
                  required
                >
                  <option selected value="OneYearOrLess">1 year or less</option>
                  <option value="OneToTwo">1-2 years</option>
                  <option value="TwoToThree">2-3 years</option>
                  <option value="ThreeToFive">3-5 years</option>
                  <option value="FivePlus">5+ years</option>
                  <option value="TenPlus">10+ years</option>
                </select>
              </div>
              <div class="form-group large">
                <label for="skills">Skills</label>
                <angular2-multiselect
                  [data]="dropdownList"
                  [(ngModel)]="model.skills"
                  [settings]="dropdownSettings"
                  name="skills"
                  #skillsField="ngModel"
                  required
                ></angular2-multiselect>
                <div
                  *ngIf="
                    postJobForm.submitted && skillsField.hasError('required')
                  "
                  class="invalid-feedback d-block"
                >
                  At least one skill is required
                </div>
              </div>
              <div class="form-group large">
                <label for="jobis">Job is...</label>
                <div>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic example"
                  >
                    <button
                      type="button"
                      class="btn btn-primary"
                      [class.active]="model.jobIs === 'remote'"
                      (click)="model.jobIs = 'remote'"
                    >
                      Remote
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      [class.active]="model.jobIs === 'onSite'"
                      (click)="model.jobIs = 'onSite'"
                    >
                      On Site
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group large">
                <label for="establishment"
                  >Head office location (if applicable)</label
                >
                <app-places
                  id="establishment"
                  name="establishment"
                  (setAddress)="setEstablishmentAddress($event)"
                  adressType="establishment"
                ></app-places>
              </div>
            </div>
          </div>
          <div class="card mb-5">
            <div class="card-body">
              <h3 class="card-title text-body">Rate</h3>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group large">
                    <label for="rateFrom">From (min)</label>
                    <input
                      type="number"
                      class="form-control"
                      id="rateFrom"
                      name="rateFrom"
                      #rateFromField="ngModel"
                      placeholder="From (min)"
                      [(ngModel)]="model.rateFrom"
                      required
                    />
                    <div
                      *ngIf="rateFromField?.errors?.required"
                      class="invalid-feedback"
                    >
                      Rate from is required
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group large">
                    <label for="rateTo">To (max)</label>
                    <input
                      type="number"
                      class="form-control"
                      id="rateTo"
                      name="rateTo"
                      #rateToField="ngModel"
                      placeholder="To (max)"
                      [(ngModel)]="model.rateTo"
                      required
                    />
                    <div
                      *ngIf="rateToField?.errors?.required"
                      class="invalid-feedback"
                    >
                      Rate to is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group large">
                    <label for="frequency">Frequency</label>
                    <select
                      class="custom-select"
                      id="frequency"
                      name="frequency"
                      [(ngModel)]="model.frequency"
                      requierd
                    >
                      <option selected value="Day">Day</option>
                      <option value="Hour">Hour</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group large">
                    <label for="currency">Currency</label>
                    <select
                      class="custom-select"
                      id="currency"
                      name="currency"
                      [(ngModel)]="model.currency"
                      required
                    >
                      <option selected value="GBP">GBP (&pound;)</option>
                      <option value="USD">USD (&#x24;)</option>
                      <option value="EUR">EUR (&euro;)</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-5">
            <div class="card-body">
              <h3 class="card-title text-body">Contract details</h3>
              <div class="form-group large">
                <label for="contractLength">Length</label>
                <select
                  class="custom-select"
                  id="contractLength"
                  name="contractLength"
                  [(ngModel)]="model.contractLength"
                  required
                >
                  <option selected value="Under1Month">Under 1 month</option>
                  <option value="OneToThree">1-3 months</option>
                  <option value="ThreeToSix">3-6 months</option>
                  <option value="SixToTwelve">6-12 months</option>
                  <option value="TwelvePlus">12+ months</option>
                </select>
              </div>
              <div class="form-group large">
                <label for="companyName">Company name</label>
                <input
                  type="text"
                  class="form-control"
                  id="companyName"
                  name="companyName"
                  #companyNameField="ngModel"
                  placeholder="Company name"
                  [(ngModel)]="model.companyName"
                  minlength="2"
                  required
                />
                <div
                  *ngIf="companyNameField?.errors?.required"
                  class="invalid-feedback"
                >
                  Company name is required
                </div>
                <div
                  *ngIf="companyNameField?.errors?.minlength"
                  class="invalid-feedback"
                >
                  Company name must be at least 2 characters long.
                </div>
              </div>
              <div class="form-group large">
                <label for="jobDescription">Job description</label>
                <ckeditor
                  id="jobDescription"
                  name="jobDescription"
                  required
                  #ckEditorField="ngModel"
                  [editor]="Editor"
                  [(ngModel)]="model.jobDescription"
                  [config]="{
                    toolbar: [
                      'heading',
                      '|',
                      'bold',
                      'italic',
                      'bulletedList',
                      'numberedList'
                    ]
                  }"
                ></ckeditor>
                <div
                  *ngIf="
                    postJobForm.submitted && ckEditorField?.errors?.required
                  "
                  class="invalid-feedback d-block"
                >
                  Job description is required.
                </div>
              </div>
              <div class="form-group large">
                <label for="whereToApply">Where to apply</label>
                <input
                  type="url"
                  class="form-control"
                  id="whereToApply"
                  name="whereToApply"
                  #whereToApplyField="ngModel"
                  placeholder="https://yoursite.com/job/123/apply"
                  [(ngModel)]="model.whereToApply"
                  minlength="3"
                  required
                />
                <div
                  *ngIf="jobTitleField?.errors?.required"
                  class="invalid-feedback"
                >
                  Where to apply is required
                </div>
                <div
                  *ngIf="jobTitleField?.errors?.minlength"
                  class="invalid-feedback"
                >
                  Where to apply must be at least 3 characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary mr-1">
                  Post job
                </button>
                <button type="reset" class="btn btn-default">
                  Reset
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
