<section class="pt-5 pt-md-11">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Post a job</h1>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md">
        <div class="card mb-5">
          <div class="card-body">
            <h3 class="card-title text-body">Overview</h3>
            <form>
              <div class="form-group large">
                <label for="jobTitle">Job title</label>
                <input
                  type="text"
                  class="form-control"
                  id="jobTitle"
                  name="jobTitle"
                  placeholder="Job title"
                  autocomplete="off"
                />
              </div>
              <div class="form-group large">
                <label for="category">Category</label>
                <select class="custom-select" id="category" name="category">
                  <option selected value="FrontEnd">Front-end</option>
                  <option value="FullStack">Full stack</option>
                </select>
              </div>
              <div class="form-group large">
                <label for="skills">Skills</label>
                <angular2-multiselect
                  [data]="dropdownList"
                  [(ngModel)]="selectedItems"
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="OnItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)"
                  name="skills"
                ></angular2-multiselect>
              </div>
              <div class="form-group large">
                <label for="jobis">Job is...</label>
                <div>
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active">
                      <input
                        type="radio"
                        name="options"
                        id="remote"
                        autocomplete="off"
                        checked
                      />
                      Remote
                    </label>
                    <label class="btn btn-primary">
                      <input
                        type="radio"
                        name="options"
                        id="permanent"
                        autocomplete="off"
                      />
                      On site
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group large">
                <label for="establishment"
                  >Head office location (if applicable)</label
                >
                <app-places
                  id="establishment"
                  name="establishment"
                  (setAddress)="getEstablishmentAddress($event)"
                  adressType="establishment"
                ></app-places>
              </div>
            </form>
          </div>
        </div>
        <div class="card mb-5">
          <div class="card-body">
            <h3 class="card-title text-body">Rate</h3>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group large">
                  <label for="rateFrom">From (min)</label>
                  <input
                    type="number"
                    class="form-control"
                    id="rateFrom"
                    name="rateFrom"
                    placeholder="From (min)"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group large">
                  <label for="rateTo">To (max)</label>
                  <input
                    type="number"
                    class="form-control"
                    id="rateTo"
                    name="rateTo"
                    placeholder="To (max)"
                    autocomplete="off"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group large">
                  <label for="frequency">Frequency</label>
                  <select class="custom-select" id="frequency" name="frequency">
                    <option selected value="Day">Day</option>
                    <option value="Hour">Hour</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group large">
                  <label for="currency">Currency</label>
                  <select class="custom-select" id="currency" name="currency">
                    <option selected value="Day">GBP (&pound;)</option>
                    <option value="Hour">USD (&#x24;)</option>
                    <option value="Hour">EUR (&euro;)</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-5">
          <div class="card-body">
            <h3 class="card-title text-body">Contract details</h3>
            <div class="form-group large">
              <label for="contractLength">Length</label>
              <select
                class="custom-select"
                id="contractLength"
                name="contractLength"
              >
                <option selected value="Under1Month">Under 1 month</option>
                <option value="OneToThree">1-3 months</option>
                <option value="ThreeToSix">3-6 months</option>
                <option value="SixToTwelve">6-12 months</option>
                <option value="TwelvePlus">12+ months</option>
              </select>
            </div>
            <div class="form-group large">
              <label for="companyName">Company name</label>
              <input
                type="text"
                class="form-control"
                id="companyName"
                name="companyName"
                placeholder="Company name"
                autocomplete="off"
              />
            </div>
            <div class="form-group large">
              <label for="jobDescription">Job description</label>
              <app-job-editor id="jobDescription"></app-job-editor>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary mr-1">
                Post job
              </button>
              <button type="reset" class="btn btn-default">
                Reset
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
