<!-- WELCOME
    ================================================== -->
<section
  data-jarallax
  data-speed=".8"
  class="pt-12 pb-10 pt-md-13 pb-md-13 bg-cover"
  style="background-image: url(/assets/img/covers/cover-3.jpg)"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-8 col-lg-6">
        <!-- Heading -->
        <h1
          class="display-3 font-weight-bold text-white"
          id="welcomeHeadingSource"
        >
          Outside IR35 jobs for <br />
          <span class="text-warning">Developers</span>
        </h1>

        <!-- Text -->
        <p class="font-size-lg text-white-80 mb-6">
          We help place the world's top tech talent at the some of the greatest
          companies in the world.
        </p>

        <!-- Form -->
        <form>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text pr-0 border-right-0">
                <i-feather name="search"></i-feather>
              </span>
            </div>
            <input
              type="search"
              class="form-control pl-2 border-left-0"
              placeholder="Search for a job"
              aria-label="Search for a job"
              aria-describedby="searchAddon"
            />
          </div>
        </form>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>
