<!-- LATEST POSTS
    ================================================== -->
<section class="py-8 py-md-10 bg-gradient-light">
  <div class="container">
    <div class="row align-items-center mb-3">
      <div class="col-12 col-md-6">
        <!-- Preheading -->
        <h6 class="text-uppercase text-primary font-weight-bold">
          Latest posts
        </h6>

        <!-- Heading -->
        <h2>
          Check out our recent job posts.
        </h2>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-8">
          We scour thousands of job postings every week and aggregate them here
          for your convenience... and we only post the best opportunities.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <!-- Image -->
        <img
          src="/assets/img/illustrations/illustration-3.png"
          class="img-fluid"
          alt="..."
        />
      </div>
    </div>
    <!-- / .row -->
    <div class="row">
      <div class="col-12 col-md-6">
        <!-- Card -->
        <div
          class="card card-border border-primary shadow-light-lg mb-6 mb-md-8"
          data-aos="fade-up"
        >
          <div class="card-body">
            <!-- Heading -->
            <h6 class="text-uppercase text-primary d-inline-block mb-5 mr-1">
              Front-end
            </h6>

            <!-- Badge -->
            <span class="badge badge-rounded-circle badge-primary-soft">
              <span>{{ frontEndJobs.length }}</span>
            </span>

            <!-- List group -->
            <div>
              <div class="list-group list-group-flush">
                <a
                  *ngFor="let job of frontEndJobs.slice(0, 10)"
                  class="list-group-item text-reset text-decoration-none cursor-pointer"
                  [routerLink]="['/job', job.id]"
                >
                  <span class="font-weight-bold mb-1 d-block">
                    {{ job.jobTitle }}
                  </span>
                  <span
                    class="font-size-sm text-muted mb-0 d-block"
                    [ngSwitch]="job.experienceRequired"
                  >
                    <span *ngSwitchCase="'OneYearOrLess'"
                      >&lt; 1 year experience</span
                    >
                    <span *ngSwitchCase="'OneToTwo'">1-2 years experience</span>
                    <span *ngSwitchCase="'TwoToThree'"
                      >2-3 years experience</span
                    >
                    <span *ngSwitchCase="'ThreeToFive'"
                      >3-5 years experience</span
                    >
                    <span *ngSwitchCase="'FivePlus'">5+ years experience</span>
                    <span *ngSwitchCase="'TenPlus'">10+ years experience</span>
                  </span>
                  <span
                    class="font-size-sm text-muted mb-0 d-block"
                    *ngIf="job.headOfficeLocation"
                    >{{ job.headOfficeLocation }}</span
                  >
                  <span
                    class="badge badge-primary-soft mr-1"
                    *ngFor="let skill of job.skills"
                    >{{ skill.display }}</span
                  >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <!-- Card -->
        <div
          class="card card-border border-success shadow-light-lg mb-6 mb-md-8"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="card-body">
            <!-- Heading -->
            <h6 class="text-uppercase text-success d-inline-block mb-5 mr-1">
              Full Stack
            </h6>

            <!-- Badge -->
            <span class="badge badge-rounded-circle badge-success-soft">
              <span>{{ fullStackJobs.length }}</span>
            </span>

            <!-- List group -->
            <div>
              <div class="list-group list-group-flush">
                <a
                  *ngFor="let job of fullStackJobs.slice(0, 10)"
                  class="list-group-item text-reset text-decoration-none cursor-pointer mb-2"
                  [routerLink]="['/job', job.id]"
                >
                  <span class="font-weight-bold d-block">
                    {{ job.jobTitle }}
                  </span>
                  <span
                    class="font-size-sm text-muted mb-0 d-block"
                    [ngSwitch]="job.experienceRequired"
                  >
                    <span *ngSwitchCase="'OneYearOrLess'"
                      >&lt; 1 year experience</span
                    >
                    <span *ngSwitchCase="'OneToTwo'">1-2 years experience</span>
                    <span *ngSwitchCase="'TwoToThree'"
                      >2-3 years experience</span
                    >
                    <span *ngSwitchCase="'ThreeToFive'"
                      >3-5 years experience</span
                    >
                    <span *ngSwitchCase="'FivePlus'">5+ years experience</span>
                    <span *ngSwitchCase="'TenPlus'">10+ years experience</span>
                  </span>
                  <span
                    class="font-size-sm text-muted mb-0 d-block"
                    *ngIf="job.headOfficeLocation"
                    >{{ job.headOfficeLocation }}</span
                  >
                  <span
                    class="badge badge-primary-soft mr-1"
                    *ngFor="let skill of job.skills"
                    >{{ skill.display }}</span
                  >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 text-center" data-aos="fade-up">
        <!-- Button -->
        <a routerLink="/jobs" class="btn btn-primary lift">
          See all job posts
          <i-feather name="arrow-right" class="float-right"></i-feather>
        </a>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>
