<section class="pt-6 pt-md-8">
  <div class="container pb-8 pb-md-11 border-bottom border-gray-300">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <!-- Badge -->
        <span class="badge badge-pill badge-primary-desat-soft mb-3">
          <span class="h6 text-uppercase">Applying</span>
        </span>

        <!-- Heading -->
        <h2>
          Let’s find you an <span class="text-primary">open position</span>.
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-gray-700 mb-7 mb-md-9">
          Find the right job for you no matter what it is that you do.
        </p>
      </div>
    </div>
    <!-- / .row -->
    <div class="row">
      <div class="col-12">
        <!-- Form -->
        <form class="mb-7 mb-md-9">
          <div class="row">
            <div class="col-12 col-md-4">
              <div class="form-group mb-5 mb-md-0">
                <!-- Label -->
                <label for="applyRoles">Roles</label>

                <!-- Select -->
                <select id="applyRoles" class="custom-select">
                  <option selected>All roles</option>
                  <option>Design</option>
                  <option>Engineering</option>
                  <option>Product</option>
                  <option>Testing</option>
                  <option>Support</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group mb-5 mb-md-0">
                <!-- Label -->
                <label for="applyTeam">Team</label>

                <!-- Select -->
                <select id="applyTeam" class="custom-select">
                  <option selected>All teams</option>
                  <option>Consumer</option>
                  <option>Consulting</option>
                  <option>Internal tools</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group mb-0">
                <!-- Label -->
                <label for="applyLocation">Location</label>

                <!-- Select -->
                <select id="applyLocation" class="custom-select">
                  <option selected>All locations</option>
                  <option>London</option>
                  <option>Los Angeles</option>
                  <option>Paris</option>
                  <option>San Francisco</option>
                </select>
              </div>
            </div>
          </div>
          <!-- / .row -->
        </form>
      </div>
    </div>
    <!-- / .row -->
    <div class="row align-items-center mb-5">
      <div class="col">
        <!-- Heading -->
        <h4 class="font-weight-bold mb-1">
          Design & UX
        </h4>

        <!-- Text -->
        <p class="font-size-sm text-muted mb-0">
          User experience and design are top priorities at Landkit.
        </p>
      </div>
      <div class="col-auto">
        <!-- Badge -->
        <span class="badge badge-pill badge-success-soft">
          <span class="h6 text-uppercase">4 openings</span>
        </span>
      </div>
    </div>
    <!-- / .row -->
    <div class="row">
      <div class="col-12">
        <!-- Table -->
        <div class="table-responsive mb-7 mb-md-9">
          <table class="table table-align-middle">
            <thead>
              <tr>
                <th>
                  <span class="h6 text-uppercase font-weight-bold">
                    Role
                  </span>
                </th>
                <th>
                  <span class="h6 text-uppercase font-weight-bold">
                    Team
                  </span>
                </th>
                <th>
                  <span class="h6 text-uppercase font-weight-bold">
                    Location
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="mb-1">
                      Senior UX Designer
                    </p>
                    <p class="font-size-sm text-muted mb-0">
                      Responsible for design systems and brand management.
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      Consumer
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      Los Angeles
                    </p>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="mb-1">
                      Motion Designer
                    </p>
                    <p class="font-size-sm text-muted mb-0">
                      Responsible for creating life in our apps.
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      Product
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      San Francisco, CA
                    </p>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="mb-1">
                      Design Researcher
                    </p>
                    <p class="font-size-sm text-muted mb-0">
                      Help us make the best decisions with qualitative
                      experiments.
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      Consulting
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      London
                    </p>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="mb-1">
                      Production Designer
                    </p>
                    <p class="font-size-sm text-muted mb-0">
                      Create, collect, and distribute beautiful assets.
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      Consulting
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      Paris
                    </p>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- / .row -->
    <div class="row align-items-center mb-5">
      <div class="col">
        <!-- Heading -->
        <h4 class="font-weight-bold mb-1">
          Engineering
        </h4>

        <!-- Text -->
        <p class="font-size-sm text-muted mb-0">
          This is Landkit's bread and butter – help us make it better.
        </p>
      </div>
      <div class="col-auto">
        <!-- Badge -->
        <span class="badge badge-pill badge-success-soft">
          <span class="h6 text-uppercase">4 openings</span>
        </span>
      </div>
    </div>
    <!-- / .row -->
    <div class="row">
      <div class="col-12">
        <!-- Table -->
        <div class="table-responsive mb-5">
          <table class="table table-align-middle">
            <thead>
              <tr>
                <th>
                  <span class="h6 text-uppercase font-weight-bold">
                    Role
                  </span>
                </th>
                <th>
                  <span class="h6 text-uppercase font-weight-bold">
                    Team
                  </span>
                </th>
                <th>
                  <span class="h6 text-uppercase font-weight-bold">
                    Location
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="mb-1">
                      Ruby Engineer
                    </p>
                    <p class="font-size-sm text-muted mb-0">
                      Responsible for pipeline and build system.
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      Consumer
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      Los Angeles
                    </p>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="mb-1">
                      Javascript Prototyper
                    </p>
                    <p class="font-size-sm text-muted mb-0">
                      Helping us build quick experiments for testing.
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      Product
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      San Francisco, CA
                    </p>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="mb-1">
                      Reliability Engineer
                    </p>
                    <p class="font-size-sm text-muted mb-0">
                      Managing operations and testing for improved stability.
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      Consulting
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      London
                    </p>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="mb-1">
                      Junior PHP Engineer
                    </p>
                    <p class="font-size-sm text-muted mb-0">
                      Help us with any odds and ends that need tackling.
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      Consulting
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    href="career-single.html"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      Paris
                    </p>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Text -->
        <p class="font-size-sm text-center text-muted mb-0">
          Don’t see the job you want? <a href="#!">Let us know</a>.
        </p>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>
