<section class="pt-6 pt-md-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <!-- Badge -->
        <span class="badge badge-pill badge-primary-desat-soft mb-3">
          <span class="h6 text-uppercase">Jobs List</span>
        </span>

        <!-- Heading -->
        <h2>
          Let’s find you an <span class="text-primary">open position</span>.
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-gray-700 mb-7 mb-md-9">
          Helping you find the right outside IR35 developer role
        </p>
      </div>
    </div>
    <!-- / .row -->
    <div class="row align-items-center mb-5">
      <div class="col">
        <!-- Heading -->
        <h4 class="font-weight-bold mb-1">
          Front-end
        </h4>

        <!-- Text -->
        <p class="font-size-sm text-muted mb-0">
          Roles that have a preference for strong front-end skills.
        </p>
      </div>
      <div class="col-auto">
        <!-- Badge -->
        <span class="badge badge-pill badge-success-soft">
          <span class="h6 text-uppercase"
            >{{ frontEndJobs.length }} openings</span
          >
        </span>
      </div>
    </div>
    <!-- / .row -->
    <div class="row">
      <div class="col-12">
        <!-- Table -->
        <div class="table-responsive mb-7 mb-md-9">
          <table class="table table-align-middle">
            <thead>
              <tr>
                <th>
                  <span class="h6 text-uppercase font-weight-bold">
                    Role
                  </span>
                </th>
                <th>
                  <span class="h6 text-uppercase font-weight-bold">
                    Rate
                  </span>
                </th>
                <th>
                  <span class="h6 text-uppercase font-weight-bold">
                    Location
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of frontEndJobs">
                <td>
                  <a
                    [routerLink]="['/job', job.id]"
                    class="text-reset text-decoration-none"
                  >
                    <p class="mb-1">
                      {{ job.jobTitle }}
                    </p>
                    <p class="font-size-sm text-muted mb-0">
                      <span
                        class="font-size-sm text-muted mb-0 d-block"
                        [ngSwitch]="job.experienceRequired"
                      >
                        <span *ngSwitchCase="'OneYearOrLess'"
                          >&lt; 1 year experience</span
                        >
                        <span *ngSwitchCase="'OneToTwo'"
                          >1-2 years experience</span
                        >
                        <span *ngSwitchCase="'TwoToThree'"
                          >2-3 years experience</span
                        >
                        <span *ngSwitchCase="'ThreeToFive'"
                          >3-5 years experience</span
                        >
                        <span *ngSwitchCase="'FivePlus'"
                          >5+ years experience</span
                        >
                        <span *ngSwitchCase="'TenPlus'"
                          >10+ years experience</span
                        >
                      </span>
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    [routerLink]="['/job', job.id]"
                    class="text-reset text-decoration-none"
                  >
                    <p class="mb-1" *ngIf="job.rateFrom && job.rateTo">
                      {{ job.rateFrom | currency: job.currency }} per
                      {{ job.frequency }}
                    </p>
                    <p class="mb-1" *ngIf="!job.rateFrom || !job.rateTo">Rate unspecified</p>
                  </a>
                </td>
                <td>
                  <a
                    [routerLink]="['/job', job.id]"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      <span [ngSwitch]="job.jobIs">
                        <span *ngSwitchCase="'remote'">Fully remote</span>
                        <span *ngSwitchCase="'onSite'">{{
                          job.headOfficeLocation || "On Site (Unspecified)"
                        }}</span>
                      </span>
                    </p>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- / .row -->
    <div class="row align-items-center mb-5">
      <div class="col">
        <!-- Heading -->
        <h4 class="font-weight-bold mb-1">
          Full stack
        </h4>

        <!-- Text -->
        <p class="font-size-sm text-muted mb-0">
          Roles that have a preference for a broad range of skills.
        </p>
      </div>
      <div class="col-auto">
        <!-- Badge -->
        <span class="badge badge-pill badge-success-soft">
          <span class="h6 text-uppercase"
            >{{ fullStackJobs.length }} openings</span
          >
        </span>
      </div>
    </div>
    <!-- / .row -->
    <div class="row">
      <div class="col-12">
        <!-- Table -->
        <div class="table-responsive mb-7 mb-md-9">
          <table class="table table-align-middle">
            <thead>
              <tr>
                <th>
                  <span class="h6 text-uppercase font-weight-bold">
                    Role
                  </span>
                </th>
                <th>
                  <span class="h6 text-uppercase font-weight-bold">
                    Rate
                  </span>
                </th>
                <th>
                  <span class="h6 text-uppercase font-weight-bold">
                    Location
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of fullStackJobs">
                <td>
                  <a
                    [routerLink]="['/job', job.id]"
                    class="text-reset text-decoration-none"
                  >
                    <p class="mb-1">
                      {{ job.jobTitle }}
                    </p>
                    <p class="font-size-sm text-muted mb-0">
                      <span
                        class="font-size-sm text-muted mb-0 d-block"
                        [ngSwitch]="job.experienceRequired"
                      >
                        <span *ngSwitchCase="'OneYearOrLess'"
                          >&lt; 1 year experience</span
                        >
                        <span *ngSwitchCase="'OneToTwo'"
                          >1-2 years experience</span
                        >
                        <span *ngSwitchCase="'TwoToThree'"
                          >2-3 years experience</span
                        >
                        <span *ngSwitchCase="'ThreeToFive'"
                          >3-5 years experience</span
                        >
                        <span *ngSwitchCase="'FivePlus'"
                          >5+ years experience</span
                        >
                        <span *ngSwitchCase="'TenPlus'"
                          >10+ years experience</span
                        >
                      </span>
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    [routerLink]="['/job', job.id]"
                    class="text-reset text-decoration-none"
                  >
                    <p class="mb-1">
                      {{ job.rateFrom | currency: job.currency }} per
                      {{ job.frequency }}
                    </p>
                  </a>
                </td>
                <td>
                  <a
                    [routerLink]="['/job', job.id]"
                    class="text-reset text-decoration-none"
                  >
                    <p class="font-size-sm mb-0">
                      <span [ngSwitch]="job.jobIs">
                        <span *ngSwitchCase="'remote'">Fully remote</span>
                        <span *ngSwitchCase="'onSite'">{{
                          job.headOfficeLocation || "On Site (Unspecified)"
                        }}</span>
                      </span>
                    </p>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>
